// master.scss
// scss-lint:disable PropertySortOrder
// scss-lint:disable VendorPrefix
// scss-lint:disable PseudoElement
// scss-lint:disable ColorVariable
// scss-lint:disable ImportPath
// scss-lint:disable NestingDepth
// scss-lint:disable QualifyingElement
// scss-lint:disable SingleLinePerSelector
// scss-lint:disable Shorthand
@import 'third-party/kube';
@font-face {
  font-family: 'Lato_Black';
  src: url('../fonts/Lato-Black.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato_Bold';
  src: url('../fonts/Lato-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato_Regular';
  src: url('../fonts/Lato-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?o8aite');
  src:  url('../fonts/icomoon.eot?o8aite#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?o8aite') format('truetype'),
    url('../fonts/icomoon.woff?o8aite') format('woff'),
    url('../fonts/icomoon.svg?o8aite#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bookmark:before {
  content: "\e900";
  color: #99afc0;
}

// vars
$gutter-width: 1%;
$sidebar-width: 258px;
// colors
$pink-a200: #ff4081;
$yellow-500: #ffeb3b;
$teal-500: #009688;
$light-blue-a400: #00b0ff;
$green-a500: #00E676;
$blue-a400: #2979ff;
$white: #fff;
$ugray: #6b7c93;
$border-gray:#99afc0;
//constants
$sidebar-color: $color-darkgray;
$highlight-color: $yellow-500;
$hover-color: #0069ff;
// unryddle colors
$baseYellow: #fab800;
$baseOrange: #ff7200;
$navy: #011627;
$pale-grey: #f4f7f9;
$white-two: #ebebeb;
$steel: #838b91;
$azure: #00a4e0;
$coral: #fe4a49;
$apple-green: #7ed321;
$offwhite: #efefef;
$teal: #33aba0;
$darkgrey: #424242;
$enterprising: #f9bec0;
$enterpriseText: #a70000;
$investigative: #cfedfb;
$investigativeText: #44c8f4;
$social:#d8d6ec;
$socialText: #5f247e;
$conventional: #fdd9c9;
$conventionalText: #f7931e;
$realistic: #e4efc7;
$realisticText:#00a54a;
$artistic: #fadbe9;
$artisticText:#f06eaa;

html {
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
}

// styles fondation
.flex-wrapper {
  @include flex;
  height: 100vh;
}

.flex-wrapper2 {
  @include flex; // height: 90vh;
  width: 100%; // margin-top:22px;
  height: 100vh;
}

.sidebar {
  @include flex-item-width(258px);
  max-width: $sidebar-width;
  padding-top: 18px; // background: $sidebar-color;
  background: $navy;
  color: $white;
  -webkit-font-variant-ligatures: none; // sidebar header, sidebar logo
  .sidebar-logo {
    padding-left: 39px;
    color: $white;
    h3 {
      color: inherit;
      font-family: 'Lato_Black';
      font-size: 30px;
    }
  }
  .sidebar-header {
    padding-left: 39px; // color: $apple-green;
    color: $teal;
    h3 {
      color: inherit;
      font-size: 20px;
      font-family: 'Lato_Black';
      letter-spacing: 0.4px;
      margin-bottom: 62px; // font-weight:600;
    }
  }
}

.sidebar2 {
  display: flex;
  @include flex-item-width(350px);
  flex-direction: column;
  max-width: 350px;
  -webkit-font-variant-ligatures: none; // background-color: $white;
  .section-heading {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .tile {
    box-shadow: none;
    margin-top: auto;
    height: 89.5%;
    box-shadow: 0 0 1px 0 $steel;
  }
}

.content {
  @include flex-item-auto;
  flex-direction: row; // background: $white;
  background: $pale-grey;
  -webkit-font-variant-ligatures: none;
}

.content2 {
  @include flex-item-auto;
  flex-direction: row; // background: $white;
  -webkit-font-variant-ligatures: none;
}

.bottom-pinned {
  position: absolute;
  left: 33px;
  bottom: 26px; // width: $sidebar-width;
  width: 200px;
  .cal {
    background-color: $teal;
    color: $white;
    width: 175px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 9px;
    margin-bottom: 60px;
    border-radius: 4px;
    img {
      display: inline-block;
      vertical-align: middle;
    }
    p {
      display: inline-block;
      margin: 0;
      font-family: 'Lato_Bold';
      font-size: 14px;
    }
  }
  .time,
  .dateSpan {
    display: inline-block;
  }
  .time {
    width: 50%;
    color: $white;
    font-family: 'Lato_Regular';
    font-size: 41px;
  }
  .dateSpan {
    width: 35%;
    color: $white;
    font-size: 14px;
    padding-left: 7px;
    line-height: 1.3;
  }
}

.nav {
  &.main-nav {
    margin-bottom: 31px;
  }
  .nav-item {
    // font-family: 'Lato_Black';
    font-family: 'Lato_Bold';
    font-feature-settings: "liga" 0;
    font-size: 16px;
    line-height: 1.2em;
    letter-spacing: .07em;
    text-decoration: none;
    display: block;
    text-align: left;
    min-width: $sidebar-width;
    padding: 9px 18px;
    padding-left: 39px;
    color: $steel;
    font-weight: 700;
    border: solid 5px transparent;
    @include transition(all .2s ease-in-out);
    &.active,
    {
      // background: $highlight-color;
      background: rgba(51, 171, 160, 0.26); // color: $color-text;
      color: $teal;
      border-left: 5px solid $teal;
    }
    &:hover {
      // color: $highlight-color;
      color: $teal; // border-left: solid 5px $teal;
    }
  }
  .page-item {
    font-family: 'Lato_Regular';
    font-feature-settings: "liga" 0;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 12px 18px 10px 18px;
    color: $color-darkgray;
    border-bottom: 2px solid transparent; // jitter prevention
    &:hover {
      border-bottom: 2px solid $highlight-color;
    }
  }
  .page-title {
    font-family: 'Lato_Black';
    font-feature-settings: "liga" 0;
    font-size: 18px;
    line-height: 1.2em;
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 12px 18px 12px 18px;
    color: $color-darkgray;
  }
  .copyright {
    font-family: 'Lato_Regular';
    font-feature-settings: "liga" 0;
    text-decoration: none;
    font-size: 12px;
    text-align: left;
    padding: 8px 18px;
    color: $white;
  }
}

.header {
  @include flex; // border-bottom: 1px solid $color-lightgray;
}

.scrollable {
  @include flex-item-one;
  margin-top: 0;
  overflow: auto;
  -ms-overflow-style: none; // IE 10+ compatibility
}

// font display tuning
input,
select {
  font-family: 'Lato_Regular';
  font-feature-settings: "liga" 0;
  font-size: 14px;
  color: $navy;
  border: 1px solid $steel; // padding:14px 17px 17px 10px;
  // height: 48px;
  &::-webkit-input-placeholder {
    font-family: 'Lato_Regular';
    color: $steel;
    font-size: 14px;
  }
  &.readonly {
    background: $color-aluminum;
    font-style: normal;
  }
  &.readonly::-webkit-input-placeholder {
    color: $color-midgray;
  }
  &.search {
    border-bottom: solid 1px rgba($steel, 0.21);
  }
}

textarea {
  font-family: 'Lato_Regular';
  font-feature-settings: "liga" 0;
}

datalist {
  font-family: 'Lato_Regular';
  font-feature-settings: "liga" 0;
}

.desc {
  font-family: 'Lato_Regular';
  font-feature-settings: "liga" 0;
  font-size: 11px;
  color: $color-darkgray;
}

label {
  font-family: 'Lato_Bold';
  font-feature-settings: "liga" 0; //letter-spacing: .01em;
  margin-bottom: 0;
  font-size: 14px;
  color: $steel;
  margin-bottom: 7px;
}

p {
  margin-top: 12px;
  margin-bottom: 12px;
  font-family: 'Lato_Regular';
  font-feature-settings: "liga" 0;
}

span {
  font-family: 'Lato_Regular';
  font-feature-settings: "liga" 0;
  &.align-center {
    text-align: center;
  }
  &.nav-item {
    font-family: 'Lato_Regular';
    color: $color-darkgray;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-left: 4px;
    margin-right: 4px;
    font-size: 18px;
    text-align: center;
    &.nav-item.active {
      border-bottom: 2px solid $color-error;
    }
  }
}

select {
  font-family: 'Lato_Regular';
  font-feature-settings: "liga" 0;
  color: $color-text;
}

.button {
  font-family: 'Lato_Bold';
  font-feature-settings: "liga" 0;
  letter-spacing: .01em;
  line-height: 1.1em;
  font-weight: 500;
  position: relative;
  min-height: 34px;
  font-size: 14px;
  &.spinner {
    color: transparent;
    &:hover {
      color: transparent;
    }
  } // button types
  &.hidden {
    @include button($white,
    $white);
    position: relative;
    &.spinner {
      color: transparent;
      &:hover {
        color: transparent;
      }
    }
  }
  &.blue {
    @include button($white,
    $blue-a400);
    position: relative;
    &.spinner {
      color: transparent;
      &:hover {
        color: transparent;
      }
    }
  }
  &.white {
    @include button($baseOrange,
    $white);
    position: relative;
    line-height: 1.3;
    padding: 12px 50px;
    &.corporate {
      padding: 9px 24px 8px 22px;
      font-size: 14px;
    }
    &.spinner {
      color: transparent;
      &:hover {
        color: transparent;
      }
    }
  }
  &.teal {
    @include button($white,
    $teal);
    position: relative;
    &.outline {
      border-width: 1px;
    }
    &.spinner {
      color: transparent;
      &:hover {
        color: transparent;
      }
    }
  }
  &.green {
    @include button($white,
    $green-a500);
    position: relative;
    &.spinner {
      color: transparent;
      &:hover {
        color: transparent;
      }
    }
  }
  &.orange {
    @include button($white,
    $baseOrange);
    position: relative;
    font-size: 14px;
    &.spinner {
      color: transparent;
      &:hover {
        color: transparent;
      }
    }
  }
  &.apple-green {
    @include button($white,
    $apple-green);
    position: relative;
    font-size: 12px;
    &.spinner {
      color: transparent;
      &:hover {
        color: transparent;
      }
    }
  }
  &.azure {
    @include button($white,
    $azure);
    position: relative;
    font-size: 14px;
    &.outline {
      border-width: 1px; // border-style: dashed;
    }
    &.spinner {
      color: transparent;
      &:hover {
        color: transparent;
      }
    }
  }
  &.steel {
    @include button($white,
    $steel);
    position: relative;
    font-size: 14px;
    &.outline {
      border-width: 1px;
      border-style: dashed;
      &.solid {
        border-style: solid;
        border-width: 2px;
      }
    }
    &.spinner {
      color: transparent;
      &:hover {
        color: transparent;
      }
    }
  }
  &.no{
    @include button($white, $steel);
    position:relative;
    padding:16px 28px;
    height:60px;
    text-transform: capitalize;
    font-family: 'Lato_Bold', sans-serif;
    font-size: 18px;
    border-radius: 100px;
    margin-right:25px;
    &.outline{
      border-width:2px;
    }
  }
  &.yes{
    @include button($white, $baseYellow);
    position:relative;
    padding: 16px 28px;
    height:60px;
    text-transform: capitalize;
    font-family: 'Lato_Bold', sans-serif;
    font-size: 18px;
    border-radius:100px;
    &.outline{
      border-width: 2px;
      background-color:$white;
    }
  }
  &.unryddled{
    @include button($white, $steel);
    position:relative;
    padding: 18px 28px;
    height:60px; text-transform: capitalize;
    font-family: 'Lato_Bold', sans-serif;
    font-size: 18px;
    border-radius: 100px;
  }
  &.submit{
    @include button($white, $steel);
    position:relative;
    padding: 18px 28px;
    height:60px; text-transform: capitalize;
    font-family: 'Lato_Bold', sans-serif;
    font-size: 18px;
    border-radius: 100px;
    display:none;
    &.spinner{
      color: transparent;
      &:hover{
        color: transparent;
      }
    }
  }
  &.pink {
    @include button($white,
    $pink-a200);
    position: relative;
    &.spinner {
      color: transparent;
      &:hover {
        color: transparent;
      }
    }
  }
  &.yellow {
    @include button($white,
    $baseYellow);
    position: relative;
    &.spinner {
      color: transparent;
      &:hover {
        color: transparent;
      }
    }
    &.login {
      padding: 9px 24px 8px 22px;
      font-size: 14px;
      line-height: 1.3;
    }
  }

  &.previous,
  &.next{
    @include button($steel, $white);
    background: transparent;
    font-size:16px;
    font-family: 'Lato_Bold', sans-serif;

    &:hover{
      background: transparent;
    }
  }

  &.previous{
    &:before{
      content: "\2190";
      font-size: 34px;
      color: $steel;
      vertical-align: top;
      margin-right:10px;
    }
  }
  &.next{
    &:after{
      content: "\2192";
      font-size: 34px;
      color: $steel;
      vertical-align: top;
      margin-left:10px;
    }
  }
}

.modal {
  .modal-header {
    font-family: 'Lato_Black';
    font-feature-settings: "liga" 0;
    font-size: 18px;
    padding: 20px;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: .02em;
    border-bottom: 1px solid $color-gray;
  }
  .close {
    top: 24px;
    right: 16px;
    opacity: .3;
  }
  .modal-body {
    padding: 18px;
  }
}

// message styling
.message {
  font-family: 'Lato_Regular';
  font-feature-settings: "liga" 0;
  font-weight: normal;
  font-size: 16px;
  padding: 9px;
  text-align: center;
  margin-bottom: 0;
}

.updates {
  font-family: 'Lato_Regular';
  font-feature-settings: "liga" 0;
  text-transform: none;
  font-size: 16px;
  padding: 9px;
  letter-spacing: .02em;
  text-align: center;
}

.display {
  color: $white;
  border: 1px solid $color-darkgray;
  background: $color-darkgray;
  font-size: 18px;
}

.highlight {
  color: $white;
  border: 1px solid $blue-a400;
  background: $blue-a400;
  font-size: 18px;
}

.row-label {
  font-family: 'Lato_Regular';
  text-transform: uppercase;
  font-size: 16px;
}

.row-value {
  font-family: 'Lato_Regular';
  background-color: $color-aluminum;
  font-size: 20px;
}

table {
  margin-top: 8px;
  margin-bottom: 8px;
  font-feature-settings: "liga" 0;
  &.bordered th {
    border: 1px solid $color-gray;
  }
  &.bordered td {
    border: 1px solid $color-gray;
  }
}

th {
  font-family: 'Lato_Black';
  text-transform: uppercase;
  color: $color-darkgray;
  text-align: center;
  font-size: 15px;
  font-feature-settings: "liga" 0;
  background: $color-aluminum;
  padding: 10px 14px;
}

td {
  font-family: 'Lato_Regular';
  color: $color-midgray;
  text-align: center;
  font-size: 18px;
  font-feature-settings: "liga" 0;
}

tr {
  font-feature-settings: "liga" 0;
  &.compact {
    td {
      padding: 8px 14px;
    }
  }
  &.row-data:hover {
    background-color: $color-focus;
    cursor: pointer;
    td {
      color: $white;
    }
  }
}

ul li {
  font-family: 'Lato_Regular';
  font-weight: normal;
  font-feature-settings: "liga" 0;
  color: $color-darkgray;
  font-size: 16px;
}

//widget definitions
.logo {
  padding: 12px;
  width: 150px; // edit as needed
}

.trigger {
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 18px;
  padding-right: 18px;
  border: 1px dotted $color-gray;
  border-radius: 3px;
}

.add-flex {
  @include flex;
}

.section-heading {
  font-family: 'Lato_Regular';
  color: $color-darkgray;
  text-transform: uppercase; // text-align: center;
  letter-spacing: .01em;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 16px;
}

.heading {
  font-family: 'Lato_Black';
  color: $steel;
  text-transform: capitalize;
  text-align: center;
  letter-spacing: .01em;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 22px;
  margin: 0;
  line-height: 0;
}

.actions-row {
  justify-content: flex-end;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px dotted $color-lightgray;
  border-bottom: 1px dotted $color-lightgray;
}

.message-row {
  padding-top: 16px;
}

.image-footer {
  background: url('../images/onboard1_footer.png') no-repeat center bottom;
}

.image-header {
  background: url('../images/onboard_header.png') no-repeat center top;
  background-size: 100%;
  background-position: 0% 5%;
}

// kube element tweaks
.form {
  margin-bottom: 0;
  .row:last-child .form-item {
    margin-bottom: 20px;
  }
  .form-item {
    margin-bottom: 20px;
  }
}

// using this modification because kube's gutter class skews the view to thr right
// because of thr first child's margin-left 2%
.row.gutters {
  margin-left: 0;
  margin-right: 0;
}

.row.gutters>.row,
.row.gutters>.col,
.row.gutters>.row>.col {
  margin-left: 1%;
  margin-right: 1%;
}

// correcting to the offset class rules due to the update above
// scss-lint:disable ImportantRule
.gutters>.offset-1 {
  margin-left: calc(8.33333% + 1%) !important;
}

.gutters>.offset-2 {
  margin-left: calc(16.66667% + 1%) !important;
}

.gutters>.offset-3 {
  margin-left: calc(25% + 1%) !important;
}

.gutters>.offset-4 {
  margin-left: calc(33.33333% + 1%) !important;
}

.gutters>.offset-5 {
  margin-left: calc(41.66667% + 1%) !important;
}

.gutters>.offset-6 {
  margin-left: calc(50% + 1%) !important;
}

.gutters>.offset-7 {
  margin-left: calc(58.33333% + 1%) !important;
}

.gutters>.offset-8 {
  margin-left: calc(66.66667% + 2%) !important;
}

.gutters>.offset-9 {
  margin-left: calc(75% + 1%) !important;
}

.gutters>.offset-10 {
  margin-left: calc(83.33333% + 1%) !important;
}

.gutters>.offset-11 {
  margin-left: calc(91.66667% + 1%) !important;
}

.gutters>.offset-12 {
  margin-left: calc(100% + 1%) !important;
}

// CSS spinner
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spinner {
  to {
    -webkit-transform: rotate(360deg);
  }
}

.spinner {
  min-width: 24px;
  min-height: 24px;
}

.spinner:before {
  content: 'Loading…';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 18px;
  height: 18px;
  margin-top: -10px;
  margin-left: -10px;
}

.spinner:not(:required):before {
  content: '';
  border-radius: 50%;
  border: 2px solid $color-aluminum;
  border-top-color: $color-darkgray;
  animation: spinner .6s linear infinite;
  -webkit-animation: spinner .6s linear infinite;
}

//pikaday theme
.kube-theme {
  .pika-label {
    font-family: 'Lato_Black';
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: .01em;
    select {
      height: 20px;
    }
  }
  .pika-time-container {
    margin: 8px;
  }
  .pika-table {
    th {
      font-family: 'Lato_Regular';
      font-weight: normal;
      font-feature-settings: "liga" 0;
      background-color: $white;
      color: $color-darkgray;
      text-align: center;
    }
  }
  .pika-prev:hover,
  .pika-next:hover {
    background-color: $color-lightgray;
  }
  .pika-select {
    font-family: 'Lato_Black';
    font-size: 18px;
    font-weight: normal;
    color: $color-midgray;
  }
  button.pika-day.pika-button {
    font-family: 'Lato_Black';
    font-size: 18px;
    border: 0;
    border-radius: 2px;
    box-shadow: inset 0 1px 1px $white;
    background: $white;
    .is-today.is-selected {
      color: $white;
      background: $color-focus;
      border-radius: 2px;
    }
    &:hover {
      background-color: $color-success;
    }
  }
  .is-selected button.pika-day.pika-button {
    font-family: 'Lato_Black';
    text-transform: uppercase;
    border: 0;
    border-radius: 2px;
    box-shadow: inset 0 1px 1px $color-focus;
    color: $white;
    background: $color-focus;
  }
  .is-today button.pika-day.pika-button {
    font-family: 'Lato_Black';
    border: 0;
    border-radius: 2px;
    box-shadow: inset 0 1px 1px $white;
    background: $white;
    color: $color-focus;
  }
  .is-selected.is-today button.pika-day.pika-button {
    font-family: 'Lato_Black';
    border: 0;
    border-radius: 2px;
    box-shadow: inset 0 1px 1px $color-focus;
    color: $white;
    background: $color-focus;
  }
}

// autocomplete theme
.autocomplete-suggestions {
  box-sizing: border-box;
  border: 1px solid $color-gray;
  border-radius: 3px;
  background: $white;
  cursor: pointer;
  overflow: auto;
}

.autocomplete-suggestion {
  font-family: 'Lato_Regular';
  color: $color-darkgray;
  padding: 8px 4px;
  white-space: nowrap;
  overflow: hidden;
  text-transform: capitalize;
}

.autocomplete-no-suggestion {
  padding: 8px 4px;
}

.autocomplete-selected {
  background: $blue-a400;
  color: $white;
}

// divider definition
.vertical-divider {
  border-right: 1px solid $white;
  vertical-align: top;
  padding-bottom: 6px;
  padding-top: 6px;
  margin-left: 14px;
  margin-right: 14px;
}

.tagline {
  vertical-align: top;
  padding-top: 20px;
  position: relative;
  color: $white;
  font-weight: 700;
  font-size: 12px;
}

.divider {
  border-top: solid 1px $offwhite;
  opacity: 0.7;
  margin-top: 20px;
  margin-bottom: 20px;
}

.sidebarDivider {
  margin-bottom: 31px;
  margin-top: 20px;
  border-top: solid 2px rgba(234, 234, 234, 0.26);
  width: 63%;
  margin-left: 38px;
}

// margin & padding definetions
.add-flex {
  @include flex;
}

.pad-small {
  padding: 12px;
}

.pad-medium {
  padding: 16px;
}

.pad-large {
  padding: 20px;
}

.pad-bottom-small {
  padding-bottom: 12px;
}

.pad-bottom-medium {
  padding-bottom: 16px;
}

.pad-bottom-large {
  padding-bottom: 20px;
}

.pad-top-small {
  padding-top: 12px;
}

.pad-top-medium {
  padding-top: 16px;
}

.pad-top-large {
  padding-top: 20px;
}

.pad-left-small {
  padding-left: 8px;
}

.pad-right-small {
  padding-right: 8px;
}

.pad-left-medium {
  padding-left: 12px;
}

.pad-right-medium {
  padding-right: 12px;
}

.pad-left-large {
  padding-left: 16px;
}

.pad-right-large {
  padding-right: 16px;
}

.pad-top-none {
  padding-top: 0;
}

.pad-bottom-none {
  padding-bottom: 0;
}

.pad-left-none {
  padding-left: 0;
}

.pad-right-none {
  padding-right: 0;
}

.border-bottom {
  border-bottom: 1px solid $offwhite;
}

.border-top {
  border-top: 1px solid $offwhite;
}

.border-left {
  border-left: 1px solid $offwhite;
}

.border-right {
  border-right: 1px solid $offwhite;
}

.border-dotted-top {
  border-top: 1px dotted $color-gray;
}

.border-dotted-bottom {
  border-bottom: 1px dotted $color-gray;
}

.border {
  border: 1px solid $color-gray;
}

.border-rounded {
  border: 1px solid $color-gray;
  border-radius: 3px;
}

.border-dotted {
  border: 1px dotted $color-gray;
}

.border-dotted-rounder {
  border: 1px dotted $color-gray;
  border-radius: 3px;
}

.border-none {
  border: 0;
}

.border-top-none {
  border-top: 0;
}

.border-bottom-none {
  border-bottom: 0;
}

.border-left-none {
  border-left: 0;
}

.border-right-none {
  border-right: 0;
}

.margin-bottom-small {
  margin-bottom: 12px;
}

.margin-bottom-medium {
  margin-bottom: 16px;
}

.margin-bottom-large {
  margin-bottom: 20px;
}

.margin-top-small {
  margin-top: 12px;
}

.margin-top-medium {
  margin-top: 16px;
}

.margin-top-large {
  margin-top: 20px;
}

.margin-top-large-x{
  margin-top: 3%;
}

.margin-top-large-xx {
  margin-top: 8%;
}
.margin-top-large-xxx{
  margin-top:11%;
}
.margin-left-small {
  margin-left: 8px;
}

.margin-right-small {
  margin-right: 8px;
}

.margin-left-medium {
  margin-left: 12px;
}

.margin-right-medium {
  margin-right: 12px;
}

.margin-left-large {
  margin-left: 16px;
}

.margin-right-large {
  margin-right: 16px;
}

.margin-right-none {
  margin-right: 0;
}

.margin-left-none {
  margin-left: 0;
}

.margin-top-none {
  margin-top: 0;
}

.margin-bottom-none {
  margin-bottom: 0;
}

.capitalize {
  text-transform: capitalize;
}

.display-block {
  display: block;
}

.widget-col {
  padding-top: 30px;
}

// text utilities
.capitalize {
  text-transform: capitalize;
}

.text-none {
  text-transform: none;
}

.enterprising-bg,
.realistic-bg,
.investigative-bg,
.conventional-bg,
.artistic-bg,
.social-bg{
  background-color: $enterprising;
  padding-top:125px;
  padding-bottom:125px;
  padding-left:49px;
  padding-right:49px;
}
.realistic-bg{
  background-color: $realistic;
}
.investigative-bg{
  background-color: $investigative;
}
.conventional-bg{
  background-color: $conventional;
}
.artistic-bg{
  background-color: $artistic;
}
.social-bg{
  background-color: $social;
}

.color-enterprise{
  color: $enterpriseText;
}
.color-realistic{
  color: $realisticText;
}
.color-investigative{
  color: $investigativeText;
}
.color-conventional{
  color: $conventionalText;
}
.color-artistic{
  color: $artisticText;
}
.color-social{
  color: $socialText;
}

// Unryddle styles
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: auto;
}

.fullscreen {
  &.profiles{
    overflow:auto;
  }
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  &.about-section {
    width: 100%;
    height: 100%;
    background-color: $baseYellow;
    padding: 10%;
    .container {
      width: 1180px;
      margin-left: auto;
      margin-right: auto;
    }
    .about-text {
      h3 {
        font-family: 'Playball_Regular', 'cursive', sans-serif;
        font-size: 40px;
        color: $white;
      }
      p {
        font-size: 16px;
        font-family: 'Lato_Regular', sans-serif;
        color: $white;
        line-height: 1.81;
        width: 515px;
        &:last-child {
          margin-top: 40px;
        }
      }
    }
    .about-img {
      position: relative;
      p {
        position: absolute;
        font-family: 'Lato_Bold', sans-serif;
        font-style: italic;
        font-size: 20px;
        text-align: center;
        width: 282px;
        color: $white;
        left: 23%;
        bottom: 23%;
      }
    }
  }
  &.slider-section {
    position: relative;
    .whoareyou {
      height: 100%;
      width: 100%;
      margin-bottom: 0;
      margin: 0;
      div {
        height: 100%;
        img {
          margin: auto;
          margin-top: 13%;
        }
        &.thinker {
          background-color: #cfedfb;
        }
        &.helper {
          background-color: #d8d6ec;
        }
        &.organizer {
          background-color: #fdd9c9;
        }
        &.doer {
          background-color: #e4efc7;
        }
        &.persuader {
          background-color: #f9bec0;
        }
        &.creator {
          background-color: #fadbe9;
        }
      }
      .slick-dots {
        bottom: 40px;
      }
      .slider-prev {
        background: transparent;
        position: absolute;
        top: 46%;
        z-index: 99;
        left: 15%;
      }
      .slider-next {
        right: 15%;
        background: transparent;
        position: absolute;
        top: 46%;
      }
      .slick-dots li button:before {
        color: $white;
        font-size: 8px;
        width: 20px;
        height: 20px;
        opacity: 1;
      }
      .slick-dots li:nth-child(1).slick-active button:before {
        color: #44c8f4;
        opacity: 1;
      }
      .slick-dots li:nth-child(2).slick-active button:before {
        color: #5f247e;
        opacity: 1;
      }
      .slick-dots li:nth-child(3).slick-active button:before {
        color: #f7931e;
        opacity: 1;
      }
      .slick-dots li:nth-child(4).slick-active button:before {
        color: #00a54a;
        opacity: 1;
      }
      .slick-dots li:nth-child(5).slick-active button:before {
        color: #a70000;
        opacity: 1;
      }
      .slick-dots li:nth-child(6).slick-active button:before {
        color: #f06eaa;
        opacity: 1;
      }
    }
  }
  &.pageFooter {
    padding: 10%;
    width: 100%;
    height: 100%; // background: url("../images/footer-bg.png") no-repeat center center;
    background-color: $baseYellow;
    .container {
      width: 70%;
      margin-left: auto;
      margin-right: auto;
    }
    h3 {
      color: $white;
      font-family: 'Lato_Bold', sans-serif;
      font-size: 30px;
      margin: 0;
    }
    p {
      color: $white;
      font-family: 'Lato_Regular', sans-serif;
      font-size: 16px;
      margin: 0;
      margin-top: 8px;
      margin-bottom: 40px;
      &.descr {
        font-family: 'Lato_Regular', sans-serif;
        font-size: 20px;
        line-height: 1.3;
        width: 346px;
      }
    }
    input {
      // border: solid 1px #bfcbd3;
      padding: 16px 26px;
      height: 48px;
      border: none;
    }
    .response.message.success {
      font-size: 14px;
      font-family: 'Lato_Regular', sans-serif;
      margin-bottom: 12px;
      width: 98%;
      margin-left: 1%;
    }
    .footer-text {
      a,
      p {
        margin-top: 43px;
        margin-left: 0;
        margin-right: 0;
        color: $white;
        font-size: 12px;
        line-height: 1.33;
        font-family: 'Lato_Regular', sans-serif;
      }
      a {
        text-decoration: none;
      }
    }
  }
}

.intro-section {
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: linear-gradient($baseOrange 60%, $white 30%); // background-size: cover;
  // padding: 10%;
  padding-top: 35px;
  .container {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    .heading-logo {
      max-width: 136px;
      height: auto;
    }
    .margin-top-xlarge {
      margin-top: 7%;
    }
    .icon-margin {
      display: inline-block;
      margin-right: 5px;
      margin-left: 15px;
      vertical-align: bottom;
      &:nth-child(2) {
        margin-right: 25px;
      }
    }
  }
  .leadText {
    font-family: 'Lato_Bold', sans-serif;
    font-style: italic;
    font-size: 18px;
    color: $white;
    line-height: 1.35;
  }
  .intro-text {
    margin-top: 59px;
    h3 {
      font-family: 'Lato_Bold', sans-serif;
      font-size: 32px;
      line-height: 1.19;
      width: 357px;
      color: $white;
    }
    p {
      font-family: 'Lato_Regular', sans-serif;
      font-size: 20px;
      color: $white;
      line-height: 1.3;
      width: 515px;
      margin-bottom: 29px;
    }
  }
  .launch-text {
    margin-top: 21%;
    font-family: 'Lato_Regular', sans-serif;
    h3 {
      color: $white;
      font-family: 'Lato_Regular', sans-serif;
      font-size: 32px;
      margin-left: 9px;
      font-weight: 300;
    }
    p {
      font-size: 20px;
      color: $white;
      margin-left: 9px;
    }
    input {
      border-color: transparent;
      border-radius: 4px;
      padding: 13px 26px;
      height: 48px;
    }
  }

  td{
    text-align:left;
    color: $white;
    font-size: 18px;
    font-family: 'Lato_Bold', sans-serif;
    line-height:1.44;
    padding:7px;
    border-bottom:solid 1px rgba($white, 0.3);

    &:first-child{
      padding-left:0;
    }
  }
}

#personalityForm {
  width: 90%;
  margin:0 auto;
  position:relative;
  fieldset{
    border:none;
    position:absolute;
    left:-84%;
    top:15%;
    right:0;
    width:100%;
    height:250px;
    padding:10px 0;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    opacity: 0;
    &.current{
      left: 0%;
      opacity: 1;
      top: 15%;
      right: 0;
    }
    &.next{
      border: none;
    }

    .fixedHeight{
      height: 110px;
    }
  }

  .questionTag{
    font-family: 'Lato_Bold', sans-serif;
    // font-size: 60px;
    color: #fff;
  }

  .requestButtons {
    margin-top:8%;
    input {
      display: inline-block;
      width: auto;
      &.prev {
        margin-right: 36%;
        margin-left: 5%;
      }
      &.next {
        margin-left: 35%;
      }
    }
  }

  .controlButtons{
    margin-top:27%;
  }
}

#formSlides {
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
  fieldset {
    border: none;
    position: absolute;
    left: -640px;
    width: 70%;
    top:25%;
    height: 400px;
    padding: 10px 0;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    opacity: 0;
    &.current {
      left: 15%;
      opacity: 1;
      top: 25%;
      right: 15%;
    }
    &.next {
        // left: 640px;
        border:none;
    }

    .fixedHeight{
      height:300px;
    }
  }
  h2 {
    margin-top: 5%;
  }

  #progressbar {
    margin: 0;
    position: absolute;
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
    li {
      list-style-type: none;
      color: white;
      text-transform: uppercase;
      font-size: 9px;
      width: 33.33%;
      float: left;
      position: relative;
      text-align: center;
      &:before {
        content: counter(step);
        counter-increment: step;
        width: 20px;
        line-height: 20px;
        display: block;
        font-size: 10px;
        color: #333;
        background: white;
        border-radius: 50%;
        margin: 0 auto 5px auto;
      }
    }
  }
  .summaryView442{
    display:none;
  }
  .summaryView{
    position: absolute;
    width: 30%;
    left: 35%;
    bottom: 27%;

    .sumText{
      font-size: 16px;
      font-weight: bold;
      padding: 8px 12px;

      span{
        display: block;
        border: solid 2px #000;
        border-radius: 50%;
        height: 30px;
        width: 30px;
        margin-left: 11px;
        font-size: 14px;
      }
    }
  }
  .questionTag {
    font-family: 'Lato_Bold', sans-serif;
    font-size: 60px;
    color: $white;
    line-height: 1.12;
  }
  .requestButtons {
    margin-top:20%;
    input {
      display: inline-block;
      width: auto;
      &.prev {
        margin-right: 36%;
        margin-left: 5%;
      }
      &.next {
        margin-left: 35%;
      }
    }
  }

  .controlButtons{
    margin-top: 40%;
  }

  .counterView{
    position: absolute;
    left: 49%;
    bottom: 37.5%;
    width: 40px;
    text-align: center;
    border: solid 2px #fb7200;
    background: #fff;
    color: #fb7200;
    border-radius: 50%;
    height: 40px;

    p.counterValue{
      margin-top:6px;
      transition: all 0.3s linear;
      -webkit-transition: all 0.3s linear;
      -moz-transition: all 0.3s linear;
      -ms-transition: all 0.3s linear;
    }
  }
}

.interestText{
  margin-bottom: 26px;
  font-size: 18px;
  font-family: 'Lato_Bold', sans-serif;
  line-height: 1.44;
}
span{
  &.first{
    border: solid 2px #f06eaa;
    font-size: 20px;
    height: 44px;
    padding: 9px 35px;
    border-radius: 100px;
    line-height: 1.44;
    color: #f06eaa;
    transition: all .3s ease-in-out;
    &:hover,
    &.active{
      cursor: pointer;
      background-color: #f06eaa;
      color: $white;
    }
  }
  &.second{
    border: solid 2px #00a54a;
    font-size: 20px;
    height: 44px;
    padding: 9px 35px;
    border-radius: 100px;
    color: #00a54a;
    transition: all .3s ease-in-out;
    &:hover,
    &.active{
      cursor: pointer;
      background-color: #00a54a;
      color: $white;
    }
  }
  &.third{
    border: solid 2px #5f247e;
    font-size: 20px;
    height: 44px;
    padding: 9px 35px;
    color: #5f247e;
    border-radius: 100px;
    transition: all .3s ease-in-out;
    &:hover,
    &.active{
      cursor: pointer;
      background-color: #5f247e;
      color: $white;
    }
  }
}

.footer-section{
  p{
    color: $steel;
    font-size: 12px;
    font-family: 'Lato_Bold',sans-serif;
    span{
      font-family: 'Lato_Bold', sans-serif;
      color: #fc0d1b;
    }
  }
}

.profile-section{
  width:100%;
  padding-top: 35px;
  .container{
    width:85%;
    margin-left:auto;
    margin-right:auto;
  }
  .heading-logo{
    margin-top:-7px;
  }
  .tagline{
    color: $steel;
  }
  .vertical-divider{
    border-right: 1px solid $steel;

  }

  .icon-margin {
    display: inline-block;
    margin-right: 15px;
    // margin-left: 15px;
    vertical-align: middle;
    // &:nth-child(2) {
    //   margin-right: 25px;
    // }
  }
}

.enterprise-desc-list,
.realistic-desc-list,
.investigative-desc-list,
.conventional-desc-list,
.artistic-desc-list,
.social-desc-list{
  display:inline-block;
  width:auto;
  margin-left: 31px;
  margin-right:42px;
  list-style: none outside none;

  &:nth-of-type(1){
    margin-left:0;
  }

  &:nth-of-type(3){
    vertical-align: top;
  }
  li{
    color: $enterpriseText;
    font-family: 'Lato_Regular', sans-serif;
    font-size: 20px;
    line-height: 1.95;
  }
}

.realistic-desc-list{
  li{
    color: $realisticText;
  }
}
.investigative-desc-list{
  li{
    color: $investigativeText;
  }
}
.conventional-desc-list{
  li{
    color: $conventionalText;
  }
}
.artistic-desc-list{
  li{
    color: $artisticText;
  }
}
.social-desc-list{
  li{
    color: $socialText;
  }
}

.personality-desc-alt{
  color: $navy;
  font-size:40px;
  font-family: 'Lato_Regular', sans-serif;
  font-weight: 400;
}

.personality-lead{
  font-family: 'Lato_Regular', sans-serif;
  font-size:20px;
}
.personality-title{
  font-family: 'Lato_Bold', sans-serif;
  font-size: 58px;
  margin-bottom:49px;
}
.personality-subtitle{
  color: $navy;
  font-family: 'Lato_Regular', sans-serif;
  font-size: 50px;
  font-weight: 400;
}
.personality-desc{
  width:80%;
  margin-top: 12px;
  font-family: 'Lato_Regular', sans-serif;
  font-size: 20px;
  line-height: 1.45;
  color: $ugray;
}
.career-title{
  font-family: 'Lato_Regular', sans-serif;
  font-size: 40px;
  line-height:1.43;
  width:377px;
  color: $navy;
  font-weight:500;
}
.career-definition{
  font-family: 'Lato_Regular', sans-serif;
  line-height: 1.81;
  font-size: 16px;
  color: $ugray;
  // width: 327px;
  margin-bottom:69px;
}
.career-sample-header{
  // margin-top:34px;
  font-size: 20px;
  font-family: 'Lato_Regular', sans-serif;
  line-height: 1.5;
  color: $navy;
  // width: 414px;
}
.career-sample-list{
  font-size: 16px;
  // width: 372px;
  font-family: 'Lato_Bold', sans-serif;
  line-height: 1.88;
  color: $ugray;
}
.career-list-header{
  font-size: 40px;
  font-family: 'Lato_Regular', sans-serif;
  font-weight: 600;
  color: $navy;
  margin-bottom:42px;
}
.career-wrapper{
  border: solid 1px #9aafbf;
  border-radius: 9px;
  padding:16px 14px;
  margin-bottom: 20px;
  padding-bottom: 9px;
  padding-top:10px;
  p{
    position:relative;
    display: inline-block;
    padding:0;
    margin:0;
    font-family: 'Lato_Regular', sans-serif;
    color:$navy;
    font-size: 16px; line-height: 1.56;
    vertical-align: middle;
  }
  i{
    position:relative;
    display: inline-block;
    vertical-align:middle;
    margin-left:1em;
  }
}

.career-container{
  width: 1180px;
  margin:0 auto;
  margin-bottom: 20%;
}
.emoji-img{
  margin-top:40%;
}
.featureTitle{
  font-size: 40px;
  color: $navy;
  font-family: 'Lato_Regular', sans-serif;
  padding-left:15px;
  padding-bottom:17px;
  border-bottom: solid 1px rgba($border-gray, 0.35);
  font-weight:500;
  padding-top:12px;

  // &:hover{
  //   box-shadow: inset 0px 0px 4px #ccc;
  // }

  a{
    text-decoration: none;
    display:block;
    @include transition(all .3s linear);

    &:hover{
      opacity: 0.7;
      color: $navy;
    }
  }
}
.featureListing{
  list-style: none outside none;
  padding:0;
  margin:0;

  li{
    font-size: 16px;
    color: $ugray;
    font-family: 'Lato_Regular', sans-serif;
    line-height: 1.31;
    padding-top:10px;
    padding-left:22px;
    padding-bottom:10px;

    .listTitle{
      color: $navy;
      font-family: 'Lato_Bold', sans-serif;
    }
  }
}
.collapse-box{
  padding-bottom: 5%;
}
.introHello{
  font-family: 'Lato_Bold', sans-serif;
  color: #fff;
  font-size: 40px;
  margin-bottom: 5%;
}
.introText{
  font-family: 'Lato_Regular', sans-serif;
  color: #fff;
  font-size: 20px;
  line-height: 1.56;
  margin-top: 8%;
}

// media breakpoints
@include breakpoint(0,
425px) {
  .intro-section {
    padding: 5%;
    .container {
      width: 100%;
      .margin-top-xlarge {
        margin-top: 5%;
      }
      .row.gutters {
        >.col:nth-child(2) {
          display: none;
        }
      }
      .logo-area {
        margin-top: 20%;
        text-align: center;
        img {
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
    .intro-text {
      text-align: center;
      margin-top: 25%;
      p {
        width: 100%;
      }
      h3 {
        width: 100%;
      }
    }
  }
  .sm-first {
    order: -1;
  }
}

@include breakpoint(426px,
768px) {
  .intro-section {
    .container {
      width: 90%;
      .margin-top-xlarge {
        margin-top: 10%; // p{
        //   margin-left: 30%;
        //   width: 346px;
        // }
      }
    }
  }
}

@include breakpoint(769px,
1024px) {
  .intro-section {
    .container {
      .margin-top-xlarge {
        margin-top: 10%;
        width: 34%;
      }
    }
    .intro-text {
      h3 {
        width: 60%;
      }
      p {
        width: 100%;
        line-height: 1.5;
        font-size: 19px;
        margin-bottom: 50px;
      }
    }
    .launch-text {
      margin-top: 35%;
    }
  }
}

// @media screen and (max-width: 442px), screen and (max-height: 962px){
//   .intro-section.summary-bg {
//     background: linear-gradient(#ff7200 50%, #fff 30%);
//   }
//   .introHello{
//     font-size: 40px;
//     margin-bottom: 10%;
//     margin-top: 20%;
//   }
//   .introText{
//     font-size: 20px;
//     margin-top: 8%;
//     margin-bottom: 25%;
//   }
//
//   #formSlides{
//
//     fieldset{
//       top: 25%;
//       height:309px;
//       &.current{
//
//         top: 25%;
//       }
//     }
//
//     .summaryView{
//       display:none;
//     }
//     .counterView{
//       left: 46%;
//     }
//     .summaryView442{
//       display: block;
//       position: absolute;
//       left: 15%;
//       bottom: 30%;
//       width: 70%;
//
//       .sumText{
//         font-size: 16px;
//         font-weight: bold;
//         padding: 9px 8px;
//
//         span{
//           display: block;
//           border: solid 2px #000;
//           border-radius: 50%;
//           height: 30px;
//           width: 30px;
//           margin-left: 0px;
//           font-size: 14px;
//         }
//       }
//
//       .col.sumText{
//         display:inline-block;
//       }
//     }
//     .requestButtons{
//       margin-top: 52%;
//     }
//     .controlButtons{
//       margin-top:164%;
//
//       .button.previous{
//         display:none;
//       }
//     }
//   }
// }

@media screen and (max-width: 962px), screen and (max-height: 442px){
  .intro-section{
      &.welcome-bg{
        overflow: auto;
        background: linear-gradient(#ff7200 76%, #fff 30%);

        .margin-top-large-xxx{
          margin-top: 3%;
        }
      }
      &.summary-bg{
        background: linear-gradient(#ff7200 79%, #fff 30%);
        .margin-top-xlarge{
          margin-top:0;
        }
        .leadText{
          font-size: 14px;
        }

        td{
          font-size: 12px;
          padding: 3px;
        }
      }
  }

  span{
    &.first,
    &.second,
    &.third{
          font-size: 16px;
          padding: 6px 35px;
    }
  }
  .interestText{
    margin-top: 4%;
    margin-bottom: 13px;
  }
  .intro-section .container .margin-top-xlarge {
    // margin-top: 3%;
    width: 100%;
  }

  .margin-top-large-xxx {
    margin-top: 7%;
    // margin-top: 3%;
  }

  .introText{
    font-size: 16px;
    margin-top: 1%;
  }
  .introHello{
    font-size: 30px;
    margin-bottom: 3%;
  }

  #formSlides {
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    .questionTag{
      font-size: 51px;
    }

    .summaryView{
      display:block;
      width: 46%;
      left: 28%;
      bottom: 22%;
    }

    .summaryView442{
      display:none;
    }

    .controlButtons{
      // margin-top: 28%;
      margin-top: 26%;
    }

    fieldset{
      height: 200px;
      width: 90%;
      left: -72%;
      top: 15%;

      &.current{
        left: 6%;
        opacity: 1;
        top: 15%;
        right: 15%;
      }

      .fixedHeight{
        height: 227px;
        margin-top: -28px;
      }
    }
    .requestButtons{
          margin-top: 8%;
    }
  }
}


// @include breakpoint(601px){
//
// }

@include breakpoint(1028px, 1280px){
  .intro-section{
        background: linear-gradient(#ff7200 65%, #fff 30%);
  }
  #formSlides fieldset .fixedHeight {
    height: 240px;
  }
  #formSlides .requestButtons {
    margin-top: 23%;
  }
  #formSlides .summaryView {
    position: absolute;
    width: 36%;
    left: 32%;
    bottom: 21%;
  }
  #formSlides{
    .offset-4 {
    margin-left: 15.33333%;
    }
  }
  #formSlides .controlButtons {
    margin-top: 37%;
  }
}

@include breakpoint(1025px,
1440px) {
  .intro-section {
    .container {
      .margin-top-xlarge {
        margin-top: 7%; // p{
        // margin-left:-15%;
        // }
      }
    }
  }
}
