@charset "UTF-8";
@font-face { font-family: 'Lato_Black'; src: url("../fonts/Lato-Black.woff") format("woff"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'Lato_Bold'; src: url("../fonts/Lato-Bold.woff") format("woff"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'Lato_Regular'; src: url("../fonts/Lato-Regular.woff") format("woff"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'icomoon'; src: url("../fonts/icomoon.eot?o8aite"); src: url("../fonts/icomoon.eot?o8aite#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?o8aite") format("truetype"), url("../fonts/icomoon.woff?o8aite") format("woff"), url("../fonts/icomoon.svg?o8aite#icomoon") format("svg"); font-weight: normal; font-style: normal; }
.icon { /* use !important to prevent issues with browser extensions that change fonts */ font-family: 'icomoon' !important; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; /* Better Font Rendering =========== */ -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.icon-bookmark:before { content: "\e900"; color: #99afc0; }

html { -webkit-font-smoothing: antialiased; overflow: hidden; }

.flex-wrapper { display: -webkit-box; display: -ms-flexbox; display: flex; height: 100vh; }

.flex-wrapper2 { display: -webkit-box; display: -ms-flexbox; display: flex; width: 100%; height: 100vh; }

.sidebar { -webkit-box-flex: 0; -ms-flex: 0 0 258px; flex: 0 0 258px; max-width: 258px; padding-top: 18px; background: #011627; color: #fff; -webkit-font-variant-ligatures: none; }
@media (max-width: 768px) { .sidebar { -webkit-box-flex: 0 !important; -ms-flex: 0 0 100% !important; flex: 0 0 100% !important; } }
.sidebar .sidebar-logo { padding-left: 39px; color: #fff; }
.sidebar .sidebar-logo h3 { color: inherit; font-family: 'Lato_Black'; font-size: 30px; }
.sidebar .sidebar-header { padding-left: 39px; color: #33aba0; }
.sidebar .sidebar-header h3 { color: inherit; font-size: 20px; font-family: 'Lato_Black'; letter-spacing: 0.4px; margin-bottom: 62px; }

.sidebar2 { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-flex: 0; -ms-flex: 0 0 350px; flex: 0 0 350px; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; max-width: 350px; -webkit-font-variant-ligatures: none; }
@media (max-width: 768px) { .sidebar2 { -webkit-box-flex: 0 !important; -ms-flex: 0 0 100% !important; flex: 0 0 100% !important; } }
.sidebar2 .section-heading { padding-top: 20px; padding-bottom: 20px; }
.sidebar2 .tile { box-shadow: none; margin-top: auto; height: 89.5%; box-shadow: 0 0 1px 0 #838b91; }

.content { -webkit-box-flex: 1; -ms-flex: auto; flex: auto; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; background: #f4f7f9; -webkit-font-variant-ligatures: none; }

.content2 { -webkit-box-flex: 1; -ms-flex: auto; flex: auto; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-font-variant-ligatures: none; }

.bottom-pinned { position: absolute; left: 33px; bottom: 26px; width: 200px; }
.bottom-pinned .cal { background-color: #33aba0; color: #fff; width: 175px; padding-top: 8px; padding-bottom: 8px; padding-left: 9px; margin-bottom: 60px; border-radius: 4px; }
.bottom-pinned .cal img { display: inline-block; vertical-align: middle; }
.bottom-pinned .cal p { display: inline-block; margin: 0; font-family: 'Lato_Bold'; font-size: 14px; }
.bottom-pinned .time, .bottom-pinned .dateSpan { display: inline-block; }
.bottom-pinned .time { width: 50%; color: #fff; font-family: 'Lato_Regular'; font-size: 41px; }
.bottom-pinned .dateSpan { width: 35%; color: #fff; font-size: 14px; padding-left: 7px; line-height: 1.3; }

.nav.main-nav { margin-bottom: 31px; }
.nav .nav-item { font-family: 'Lato_Bold'; -webkit-font-feature-settings: "liga" 0; font-feature-settings: "liga" 0; font-size: 16px; line-height: 1.2em; letter-spacing: .07em; text-decoration: none; display: block; text-align: left; min-width: 258px; padding: 9px 18px; padding-left: 39px; color: #838b91; font-weight: 700; border: solid 5px transparent; transition: all 0.2s ease-in-out; }
.nav .nav-item.active { background: rgba(51, 171, 160, 0.26); color: #33aba0; border-left: 5px solid #33aba0; }
.nav .nav-item:hover { color: #33aba0; }
.nav .page-item { font-family: 'Lato_Regular'; -webkit-font-feature-settings: "liga" 0; font-feature-settings: "liga" 0; font-weight: 500; font-size: 18px; text-decoration: none; display: block; text-align: center; padding: 12px 18px 10px 18px; color: #313439; border-bottom: 2px solid transparent; }
.nav .page-item:hover { border-bottom: 2px solid #ffeb3b; }
.nav .page-title { font-family: 'Lato_Black'; -webkit-font-feature-settings: "liga" 0; font-feature-settings: "liga" 0; font-size: 18px; line-height: 1.2em; text-decoration: none; display: block; text-align: center; padding: 12px 18px 12px 18px; color: #313439; }
.nav .copyright { font-family: 'Lato_Regular'; -webkit-font-feature-settings: "liga" 0; font-feature-settings: "liga" 0; text-decoration: none; font-size: 12px; text-align: left; padding: 8px 18px; color: #fff; }

.header { display: -webkit-box; display: -ms-flexbox; display: flex; }

.scrollable { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; margin-top: 0; overflow: auto; -ms-overflow-style: none; }

input, select { font-family: 'Lato_Regular'; -webkit-font-feature-settings: "liga" 0; font-feature-settings: "liga" 0; font-size: 14px; color: #011627; border: 1px solid #838b91; }
input::-webkit-input-placeholder, select::-webkit-input-placeholder { font-family: 'Lato_Regular'; color: #838b91; font-size: 14px; }
input.readonly, select.readonly { background: #f8f8f8; font-style: normal; }
input.readonly::-webkit-input-placeholder, select.readonly::-webkit-input-placeholder { color: #676b72; }
input.search, select.search { border-bottom: solid 1px rgba(131, 139, 145, 0.21); }

textarea { font-family: 'Lato_Regular'; -webkit-font-feature-settings: "liga" 0; font-feature-settings: "liga" 0; }

datalist { font-family: 'Lato_Regular'; -webkit-font-feature-settings: "liga" 0; font-feature-settings: "liga" 0; }

.desc { font-family: 'Lato_Regular'; -webkit-font-feature-settings: "liga" 0; font-feature-settings: "liga" 0; font-size: 11px; color: #313439; }

label { font-family: 'Lato_Bold'; -webkit-font-feature-settings: "liga" 0; font-feature-settings: "liga" 0; margin-bottom: 0; font-size: 14px; color: #838b91; margin-bottom: 7px; }

p { margin-top: 12px; margin-bottom: 12px; font-family: 'Lato_Regular'; -webkit-font-feature-settings: "liga" 0; font-feature-settings: "liga" 0; }

span { font-family: 'Lato_Regular'; -webkit-font-feature-settings: "liga" 0; font-feature-settings: "liga" 0; }
span.align-center { text-align: center; }
span.nav-item { font-family: 'Lato_Regular'; color: #313439; padding-left: 6px; padding-right: 6px; padding-top: 3px; padding-bottom: 3px; margin-left: 4px; margin-right: 4px; font-size: 18px; text-align: center; }
span.nav-item.nav-item.active { border-bottom: 2px solid #f03c69; }

select { font-family: 'Lato_Regular'; -webkit-font-feature-settings: "liga" 0; font-feature-settings: "liga" 0; color: #313439; }

.button { font-family: 'Lato_Bold'; -webkit-font-feature-settings: "liga" 0; font-feature-settings: "liga" 0; letter-spacing: .01em; line-height: 1.1em; font-weight: 500; position: relative; min-height: 34px; font-size: 14px; }
.button.spinner { color: transparent; }
.button.spinner:hover { color: transparent; }
.button.hidden { color: #fff; background-color: #fff; position: relative; }
.button.hidden:hover { color: #fff; background-color: white; }
.button.hidden:disabled, .button.hidden.disabled { color: rgba(255, 255, 255, 0.7); background-color: rgba(255, 255, 255, 0.7); }
.button.hidden.outline { background: none; color: #fff; border-color: #fff; }
.button.hidden.outline:hover { color: rgba(255, 255, 255, 0.6); border-color: rgba(255, 255, 255, 0.5); }
.button.hidden.outline:disabled, .button.hidden.outline.disabled { background: none; color: rgba(255, 255, 255, 0.7); border-color: rgba(255, 255, 255, 0.5); }
.button.hidden.spinner { color: transparent; }
.button.hidden.spinner:hover { color: transparent; }
.button.blue { color: #fff; background-color: #2979ff; position: relative; }
.button.blue:hover { color: #fff; background-color: #8fb9ff; }
.button.blue:disabled, .button.blue.disabled { color: rgba(255, 255, 255, 0.7); background-color: rgba(41, 121, 255, 0.7); }
.button.blue.outline { background: none; color: #2979ff; border-color: #2979ff; }
.button.blue.outline:hover { color: rgba(41, 121, 255, 0.6); border-color: rgba(41, 121, 255, 0.5); }
.button.blue.outline:disabled, .button.blue.outline.disabled { background: none; color: rgba(41, 121, 255, 0.7); border-color: rgba(41, 121, 255, 0.5); }
.button.blue.spinner { color: transparent; }
.button.blue.spinner:hover { color: transparent; }
.button.white { color: #ff7200; background-color: #fff; position: relative; line-height: 1.3; padding: 12px 50px; }
.button.white:hover { color: #ff7200; background-color: white; }
.button.white:disabled, .button.white.disabled { color: rgba(255, 114, 0, 0.7); background-color: rgba(255, 255, 255, 0.7); }
.button.white.outline { background: none; color: #fff; border-color: #fff; }
.button.white.outline:hover { color: rgba(255, 255, 255, 0.6); border-color: rgba(255, 255, 255, 0.5); }
.button.white.outline:disabled, .button.white.outline.disabled { background: none; color: rgba(255, 255, 255, 0.7); border-color: rgba(255, 255, 255, 0.5); }
.button.white.corporate { padding: 9px 24px 8px 22px; font-size: 14px; }
.button.white.spinner { color: transparent; }
.button.white.spinner:hover { color: transparent; }
.button.teal { color: #fff; background-color: #33aba0; position: relative; }
.button.teal:hover { color: #fff; background-color: #70d4cb; }
.button.teal:disabled, .button.teal.disabled { color: rgba(255, 255, 255, 0.7); background-color: rgba(51, 171, 160, 0.7); }
.button.teal.outline { background: none; color: #33aba0; border-color: #33aba0; }
.button.teal.outline:hover { color: rgba(51, 171, 160, 0.6); border-color: rgba(51, 171, 160, 0.5); }
.button.teal.outline:disabled, .button.teal.outline.disabled { background: none; color: rgba(51, 171, 160, 0.7); border-color: rgba(51, 171, 160, 0.5); }
.button.teal.outline { border-width: 1px; }
.button.teal.spinner { color: transparent; }
.button.teal.spinner:hover { color: transparent; }
.button.green { color: #fff; background-color: #00E676; position: relative; }
.button.green:hover { color: #fff; background-color: #4dffa8; }
.button.green:disabled, .button.green.disabled { color: rgba(255, 255, 255, 0.7); background-color: rgba(0, 230, 118, 0.7); }
.button.green.outline { background: none; color: #00E676; border-color: #00E676; }
.button.green.outline:hover { color: rgba(0, 230, 118, 0.6); border-color: rgba(0, 230, 118, 0.5); }
.button.green.outline:disabled, .button.green.outline.disabled { background: none; color: rgba(0, 230, 118, 0.7); border-color: rgba(0, 230, 118, 0.5); }
.button.green.spinner { color: transparent; }
.button.green.spinner:hover { color: transparent; }
.button.orange { color: #fff; background-color: #ff7200; position: relative; font-size: 14px; }
.button.orange:hover { color: #fff; background-color: #ffaa66; }
.button.orange:disabled, .button.orange.disabled { color: rgba(255, 255, 255, 0.7); background-color: rgba(255, 114, 0, 0.7); }
.button.orange.outline { background: none; color: #ff7200; border-color: #ff7200; }
.button.orange.outline:hover { color: rgba(255, 114, 0, 0.6); border-color: rgba(255, 114, 0, 0.5); }
.button.orange.outline:disabled, .button.orange.outline.disabled { background: none; color: rgba(255, 114, 0, 0.7); border-color: rgba(255, 114, 0, 0.5); }
.button.orange.spinner { color: transparent; }
.button.orange.spinner:hover { color: transparent; }
.button.apple-green { color: #fff; background-color: #7ed321; position: relative; font-size: 12px; }
.button.apple-green:hover { color: #fff; background-color: #b0e971; }
.button.apple-green:disabled, .button.apple-green.disabled { color: rgba(255, 255, 255, 0.7); background-color: rgba(126, 211, 33, 0.7); }
.button.apple-green.outline { background: none; color: #7ed321; border-color: #7ed321; }
.button.apple-green.outline:hover { color: rgba(126, 211, 33, 0.6); border-color: rgba(126, 211, 33, 0.5); }
.button.apple-green.outline:disabled, .button.apple-green.outline.disabled { background: none; color: rgba(126, 211, 33, 0.7); border-color: rgba(126, 211, 33, 0.5); }
.button.apple-green.spinner { color: transparent; }
.button.apple-green.spinner:hover { color: transparent; }
.button.azure { color: #fff; background-color: #00a4e0; position: relative; font-size: 14px; }
.button.azure:hover { color: #fff; background-color: #47ceff; }
.button.azure:disabled, .button.azure.disabled { color: rgba(255, 255, 255, 0.7); background-color: rgba(0, 164, 224, 0.7); }
.button.azure.outline { background: none; color: #00a4e0; border-color: #00a4e0; }
.button.azure.outline:hover { color: rgba(0, 164, 224, 0.6); border-color: rgba(0, 164, 224, 0.5); }
.button.azure.outline:disabled, .button.azure.outline.disabled { background: none; color: rgba(0, 164, 224, 0.7); border-color: rgba(0, 164, 224, 0.5); }
.button.azure.outline { border-width: 1px; }
.button.azure.spinner { color: transparent; }
.button.azure.spinner:hover { color: transparent; }
.button.steel { color: #fff; background-color: #838b91; position: relative; font-size: 14px; }
.button.steel:hover { color: #fff; background-color: #b9bec1; }
.button.steel:disabled, .button.steel.disabled { color: rgba(255, 255, 255, 0.7); background-color: rgba(131, 139, 145, 0.7); }
.button.steel.outline { background: none; color: #838b91; border-color: #838b91; }
.button.steel.outline:hover { color: rgba(131, 139, 145, 0.6); border-color: rgba(131, 139, 145, 0.5); }
.button.steel.outline:disabled, .button.steel.outline.disabled { background: none; color: rgba(131, 139, 145, 0.7); border-color: rgba(131, 139, 145, 0.5); }
.button.steel.outline { border-width: 1px; border-style: dashed; }
.button.steel.outline.solid { border-style: solid; border-width: 2px; }
.button.steel.spinner { color: transparent; }
.button.steel.spinner:hover { color: transparent; }
.button.no { color: #fff; background-color: #838b91; position: relative; padding: 16px 28px; height: 60px; text-transform: capitalize; font-family: 'Lato_Bold', sans-serif; font-size: 18px; border-radius: 100px; margin-right: 25px; }
.button.no:hover { color: #fff; background-color: #b9bec1; }
.button.no:disabled, .button.no.disabled { color: rgba(255, 255, 255, 0.7); background-color: rgba(131, 139, 145, 0.7); }
.button.no.outline { background: none; color: #838b91; border-color: #838b91; }
.button.no.outline:hover { color: rgba(131, 139, 145, 0.6); border-color: rgba(131, 139, 145, 0.5); }
.button.no.outline:disabled, .button.no.outline.disabled { background: none; color: rgba(131, 139, 145, 0.7); border-color: rgba(131, 139, 145, 0.5); }
.button.no.outline { border-width: 2px; }
.button.yes { color: #fff; background-color: #fab800; position: relative; padding: 16px 28px; height: 60px; text-transform: capitalize; font-family: 'Lato_Bold', sans-serif; font-size: 18px; border-radius: 100px; }
.button.yes:hover { color: #fff; background-color: #ffd561; }
.button.yes:disabled, .button.yes.disabled { color: rgba(255, 255, 255, 0.7); background-color: rgba(250, 184, 0, 0.7); }
.button.yes.outline { background: none; color: #fab800; border-color: #fab800; }
.button.yes.outline:hover { color: rgba(250, 184, 0, 0.6); border-color: rgba(250, 184, 0, 0.5); }
.button.yes.outline:disabled, .button.yes.outline.disabled { background: none; color: rgba(250, 184, 0, 0.7); border-color: rgba(250, 184, 0, 0.5); }
.button.yes.outline { border-width: 2px; background-color: #fff; }
.button.unryddled { color: #fff; background-color: #838b91; position: relative; padding: 18px 28px; height: 60px; text-transform: capitalize; font-family: 'Lato_Bold', sans-serif; font-size: 18px; border-radius: 100px; }
.button.unryddled:hover { color: #fff; background-color: #b9bec1; }
.button.unryddled:disabled, .button.unryddled.disabled { color: rgba(255, 255, 255, 0.7); background-color: rgba(131, 139, 145, 0.7); }
.button.unryddled.outline { background: none; color: #838b91; border-color: #838b91; }
.button.unryddled.outline:hover { color: rgba(131, 139, 145, 0.6); border-color: rgba(131, 139, 145, 0.5); }
.button.unryddled.outline:disabled, .button.unryddled.outline.disabled { background: none; color: rgba(131, 139, 145, 0.7); border-color: rgba(131, 139, 145, 0.5); }
.button.submit { color: #fff; background-color: #838b91; position: relative; padding: 18px 28px; height: 60px; text-transform: capitalize; font-family: 'Lato_Bold', sans-serif; font-size: 18px; border-radius: 100px; display: none; }
.button.submit:hover { color: #fff; background-color: #b9bec1; }
.button.submit:disabled, .button.submit.disabled { color: rgba(255, 255, 255, 0.7); background-color: rgba(131, 139, 145, 0.7); }
.button.submit.outline { background: none; color: #838b91; border-color: #838b91; }
.button.submit.outline:hover { color: rgba(131, 139, 145, 0.6); border-color: rgba(131, 139, 145, 0.5); }
.button.submit.outline:disabled, .button.submit.outline.disabled { background: none; color: rgba(131, 139, 145, 0.7); border-color: rgba(131, 139, 145, 0.5); }
.button.submit.spinner { color: transparent; }
.button.submit.spinner:hover { color: transparent; }
.button.pink { color: #fff; background-color: #ff4081; position: relative; }
.button.pink:hover { color: #fff; background-color: #ffa6c4; }
.button.pink:disabled, .button.pink.disabled { color: rgba(255, 255, 255, 0.7); background-color: rgba(255, 64, 129, 0.7); }
.button.pink.outline { background: none; color: #ff4081; border-color: #ff4081; }
.button.pink.outline:hover { color: rgba(255, 64, 129, 0.6); border-color: rgba(255, 64, 129, 0.5); }
.button.pink.outline:disabled, .button.pink.outline.disabled { background: none; color: rgba(255, 64, 129, 0.7); border-color: rgba(255, 64, 129, 0.5); }
.button.pink.spinner { color: transparent; }
.button.pink.spinner:hover { color: transparent; }
.button.yellow { color: #fff; background-color: #fab800; position: relative; }
.button.yellow:hover { color: #fff; background-color: #ffd561; }
.button.yellow:disabled, .button.yellow.disabled { color: rgba(255, 255, 255, 0.7); background-color: rgba(250, 184, 0, 0.7); }
.button.yellow.outline { background: none; color: #fab800; border-color: #fab800; }
.button.yellow.outline:hover { color: rgba(250, 184, 0, 0.6); border-color: rgba(250, 184, 0, 0.5); }
.button.yellow.outline:disabled, .button.yellow.outline.disabled { background: none; color: rgba(250, 184, 0, 0.7); border-color: rgba(250, 184, 0, 0.5); }
.button.yellow.spinner { color: transparent; }
.button.yellow.spinner:hover { color: transparent; }
.button.yellow.login { padding: 9px 24px 8px 22px; font-size: 14px; line-height: 1.3; }
.button.previous, .button.next { color: #838b91; background-color: #fff; background: transparent; font-size: 16px; font-family: 'Lato_Bold', sans-serif; }
.button.previous:hover, .button.next:hover { color: #838b91; background-color: white; }
.button.previous:disabled, .button.previous.disabled, .button.next:disabled, .button.next.disabled { color: rgba(131, 139, 145, 0.7); background-color: rgba(255, 255, 255, 0.7); }
.button.previous.outline, .button.next.outline { background: none; color: #fff; border-color: #fff; }
.button.previous.outline:hover, .button.next.outline:hover { color: rgba(255, 255, 255, 0.6); border-color: rgba(255, 255, 255, 0.5); }
.button.previous.outline:disabled, .button.previous.outline.disabled, .button.next.outline:disabled, .button.next.outline.disabled { background: none; color: rgba(255, 255, 255, 0.7); border-color: rgba(255, 255, 255, 0.5); }
.button.previous:hover, .button.next:hover { background: transparent; }
.button.previous:before { content: "\2190"; font-size: 34px; color: #838b91; vertical-align: top; margin-right: 10px; }
.button.next:after { content: "\2192"; font-size: 34px; color: #838b91; vertical-align: top; margin-left: 10px; }

.modal .modal-header { font-family: 'Lato_Black'; -webkit-font-feature-settings: "liga" 0; font-feature-settings: "liga" 0; font-size: 18px; padding: 20px; font-weight: normal; text-transform: uppercase; letter-spacing: .02em; border-bottom: 1px solid #bdbdbd; }
.modal .close { top: 24px; right: 16px; opacity: .3; }
.modal .modal-body { padding: 18px; }

.message { font-family: 'Lato_Regular'; -webkit-font-feature-settings: "liga" 0; font-feature-settings: "liga" 0; font-weight: normal; font-size: 16px; padding: 9px; text-align: center; margin-bottom: 0; }

.updates { font-family: 'Lato_Regular'; -webkit-font-feature-settings: "liga" 0; font-feature-settings: "liga" 0; text-transform: none; font-size: 16px; padding: 9px; letter-spacing: .02em; text-align: center; }

.display { color: #fff; border: 1px solid #313439; background: #313439; font-size: 18px; }

.highlight { color: #fff; border: 1px solid #2979ff; background: #2979ff; font-size: 18px; }

.row-label { font-family: 'Lato_Regular'; text-transform: uppercase; font-size: 16px; }

.row-value { font-family: 'Lato_Regular'; background-color: #f8f8f8; font-size: 20px; }

table { margin-top: 8px; margin-bottom: 8px; -webkit-font-feature-settings: "liga" 0; font-feature-settings: "liga" 0; }
table.bordered th { border: 1px solid #bdbdbd; }
table.bordered td { border: 1px solid #bdbdbd; }

th { font-family: 'Lato_Black'; text-transform: uppercase; color: #313439; text-align: center; font-size: 15px; -webkit-font-feature-settings: "liga" 0; font-feature-settings: "liga" 0; background: #f8f8f8; padding: 10px 14px; }

td { font-family: 'Lato_Regular'; color: #676b72; text-align: center; font-size: 18px; -webkit-font-feature-settings: "liga" 0; font-feature-settings: "liga" 0; }

tr { -webkit-font-feature-settings: "liga" 0; font-feature-settings: "liga" 0; }
tr.compact td { padding: 8px 14px; }
tr.row-data:hover { background-color: #1c86f2; cursor: pointer; }
tr.row-data:hover td { color: #fff; }

ul li { font-family: 'Lato_Regular'; font-weight: normal; -webkit-font-feature-settings: "liga" 0; font-feature-settings: "liga" 0; color: #313439; font-size: 16px; }

.logo { padding: 12px; width: 150px; }

.trigger { margin-top: auto; margin-bottom: auto; padding-top: 7px; padding-bottom: 7px; padding-left: 18px; padding-right: 18px; border: 1px dotted #bdbdbd; border-radius: 3px; }

.add-flex { display: -webkit-box; display: -ms-flexbox; display: flex; }

.section-heading { font-family: 'Lato_Regular'; color: #313439; text-transform: uppercase; letter-spacing: .01em; padding-top: 8px; padding-bottom: 8px; font-size: 16px; }

.heading { font-family: 'Lato_Black'; color: #838b91; text-transform: capitalize; text-align: center; letter-spacing: .01em; padding-top: 8px; padding-bottom: 8px; font-size: 22px; margin: 0; line-height: 0; }

.actions-row { -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding-top: 10px; padding-bottom: 10px; border-top: 1px dotted #d4d4d4; border-bottom: 1px dotted #d4d4d4; }

.message-row { padding-top: 16px; }

.image-footer { background: url("../images/onboard1_footer.png") no-repeat center bottom; }

.image-header { background: url("../images/onboard_header.png") no-repeat center top; background-size: 100%; background-position: 0% 5%; }

.form { margin-bottom: 0; }
.form .row:last-child .form-item { margin-bottom: 20px; }
.form .form-item { margin-bottom: 20px; }

.row.gutters { margin-left: 0; margin-right: 0; }

.row.gutters > .row, .row.gutters > .col, .row.gutters > .row > .col { margin-left: 1%; margin-right: 1%; }

.gutters > .offset-1 { margin-left: calc(8.33333% + 1%) !important; }

.gutters > .offset-2 { margin-left: calc(16.66667% + 1%) !important; }

.gutters > .offset-3 { margin-left: calc(25% + 1%) !important; }

.gutters > .offset-4 { margin-left: calc(33.33333% + 1%) !important; }

.gutters > .offset-5 { margin-left: calc(41.66667% + 1%) !important; }

.gutters > .offset-6 { margin-left: calc(50% + 1%) !important; }

.gutters > .offset-7 { margin-left: calc(58.33333% + 1%) !important; }

.gutters > .offset-8 { margin-left: calc(66.66667% + 2%) !important; }

.gutters > .offset-9 { margin-left: calc(75% + 1%) !important; }

.gutters > .offset-10 { margin-left: calc(83.33333% + 1%) !important; }

.gutters > .offset-11 { margin-left: calc(91.66667% + 1%) !important; }

.gutters > .offset-12 { margin-left: calc(100% + 1%) !important; }

@keyframes spinner { to { -webkit-transform: rotate(360deg); transform: rotate(360deg); } }
@-webkit-keyframes spinner { to { -webkit-transform: rotate(360deg); } }
.spinner { min-width: 24px; min-height: 24px; }

.spinner:before { content: 'LoadingΓÇª'; position: absolute; top: 50%; left: 50%; width: 18px; height: 18px; margin-top: -10px; margin-left: -10px; }

.spinner:not(:required):before { content: ''; border-radius: 50%; border: 2px solid #f8f8f8; border-top-color: #313439; animation: spinner .6s linear infinite; -webkit-animation: spinner .6s linear infinite; }

.kube-theme .pika-label { font-family: 'Lato_Black'; font-weight: normal; text-transform: uppercase; letter-spacing: .01em; }
.kube-theme .pika-label select { height: 20px; }
.kube-theme .pika-time-container { margin: 8px; }
.kube-theme .pika-table th { font-family: 'Lato_Regular'; font-weight: normal; -webkit-font-feature-settings: "liga" 0; font-feature-settings: "liga" 0; background-color: #fff; color: #313439; text-align: center; }
.kube-theme .pika-prev:hover, .kube-theme .pika-next:hover { background-color: #d4d4d4; }
.kube-theme .pika-select { font-family: 'Lato_Black'; font-size: 18px; font-weight: normal; color: #676b72; }
.kube-theme button.pika-day.pika-button { font-family: 'Lato_Black'; font-size: 18px; border: 0; border-radius: 2px; box-shadow: inset 0 1px 1px #fff; background: #fff; }
.kube-theme button.pika-day.pika-button .is-today.is-selected { color: #fff; background: #1c86f2; border-radius: 2px; }
.kube-theme button.pika-day.pika-button:hover { background-color: #35beb1; }
.kube-theme .is-selected button.pika-day.pika-button { font-family: 'Lato_Black'; text-transform: uppercase; border: 0; border-radius: 2px; box-shadow: inset 0 1px 1px #1c86f2; color: #fff; background: #1c86f2; }
.kube-theme .is-today button.pika-day.pika-button { font-family: 'Lato_Black'; border: 0; border-radius: 2px; box-shadow: inset 0 1px 1px #fff; background: #fff; color: #1c86f2; }
.kube-theme .is-selected.is-today button.pika-day.pika-button { font-family: 'Lato_Black'; border: 0; border-radius: 2px; box-shadow: inset 0 1px 1px #1c86f2; color: #fff; background: #1c86f2; }

.autocomplete-suggestions { box-sizing: border-box; border: 1px solid #bdbdbd; border-radius: 3px; background: #fff; cursor: pointer; overflow: auto; }

.autocomplete-suggestion { font-family: 'Lato_Regular'; color: #313439; padding: 8px 4px; white-space: nowrap; overflow: hidden; text-transform: capitalize; }

.autocomplete-no-suggestion { padding: 8px 4px; }

.autocomplete-selected { background: #2979ff; color: #fff; }

.vertical-divider { border-right: 1px solid #fff; vertical-align: top; padding-bottom: 6px; padding-top: 6px; margin-left: 14px; margin-right: 14px; }

.tagline { vertical-align: top; padding-top: 20px; position: relative; color: #fff; font-weight: 700; font-size: 12px; }

.divider { border-top: solid 1px #efefef; opacity: 0.7; margin-top: 20px; margin-bottom: 20px; }

.sidebarDivider { margin-bottom: 31px; margin-top: 20px; border-top: solid 2px rgba(234, 234, 234, 0.26); width: 63%; margin-left: 38px; }

.add-flex { display: -webkit-box; display: -ms-flexbox; display: flex; }

.pad-small { padding: 12px; }

.pad-medium { padding: 16px; }

.pad-large { padding: 20px; }

.pad-bottom-small { padding-bottom: 12px; }

.pad-bottom-medium { padding-bottom: 16px; }

.pad-bottom-large { padding-bottom: 20px; }

.pad-top-small { padding-top: 12px; }

.pad-top-medium { padding-top: 16px; }

.pad-top-large { padding-top: 20px; }

.pad-left-small { padding-left: 8px; }

.pad-right-small { padding-right: 8px; }

.pad-left-medium { padding-left: 12px; }

.pad-right-medium { padding-right: 12px; }

.pad-left-large { padding-left: 16px; }

.pad-right-large { padding-right: 16px; }

.pad-top-none { padding-top: 0; }

.pad-bottom-none { padding-bottom: 0; }

.pad-left-none { padding-left: 0; }

.pad-right-none { padding-right: 0; }

.border-bottom { border-bottom: 1px solid #efefef; }

.border-top { border-top: 1px solid #efefef; }

.border-left { border-left: 1px solid #efefef; }

.border-right { border-right: 1px solid #efefef; }

.border-dotted-top { border-top: 1px dotted #bdbdbd; }

.border-dotted-bottom { border-bottom: 1px dotted #bdbdbd; }

.border { border: 1px solid #bdbdbd; }

.border-rounded { border: 1px solid #bdbdbd; border-radius: 3px; }

.border-dotted { border: 1px dotted #bdbdbd; }

.border-dotted-rounder { border: 1px dotted #bdbdbd; border-radius: 3px; }

.border-none { border: 0; }

.border-top-none { border-top: 0; }

.border-bottom-none { border-bottom: 0; }

.border-left-none { border-left: 0; }

.border-right-none { border-right: 0; }

.margin-bottom-small { margin-bottom: 12px; }

.margin-bottom-medium { margin-bottom: 16px; }

.margin-bottom-large { margin-bottom: 20px; }

.margin-top-small { margin-top: 12px; }

.margin-top-medium { margin-top: 16px; }

.margin-top-large { margin-top: 20px; }

.margin-top-large-x { margin-top: 3%; }

.margin-top-large-xx { margin-top: 8%; }

.margin-top-large-xxx { margin-top: 11%; }

.margin-left-small { margin-left: 8px; }

.margin-right-small { margin-right: 8px; }

.margin-left-medium { margin-left: 12px; }

.margin-right-medium { margin-right: 12px; }

.margin-left-large { margin-left: 16px; }

.margin-right-large { margin-right: 16px; }

.margin-right-none { margin-right: 0; }

.margin-left-none { margin-left: 0; }

.margin-top-none { margin-top: 0; }

.margin-bottom-none { margin-bottom: 0; }

.capitalize { text-transform: capitalize; }

.display-block { display: block; }

.widget-col { padding-top: 30px; }

.capitalize { text-transform: capitalize; }

.text-none { text-transform: none; }

.enterprising-bg, .realistic-bg, .investigative-bg, .conventional-bg, .artistic-bg, .social-bg { background-color: #f9bec0; padding-top: 125px; padding-bottom: 125px; padding-left: 49px; padding-right: 49px; }

.realistic-bg { background-color: #e4efc7; }

.investigative-bg { background-color: #cfedfb; }

.conventional-bg { background-color: #fdd9c9; }

.artistic-bg { background-color: #fadbe9; }

.social-bg { background-color: #d8d6ec; }

.color-enterprise { color: #a70000; }

.color-realistic { color: #00a54a; }

.color-investigative { color: #44c8f4; }

.color-conventional { color: #f7931e; }

.color-artistic { color: #f06eaa; }

.color-social { color: #5f247e; }

html, body { width: 100%; height: 100%; margin: 0; overflow: auto; }

.fullscreen { width: 100%; height: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; overflow: hidden; }
.fullscreen.profiles { overflow: auto; }
.fullscreen.about-section { width: 100%; height: 100%; background-color: #fab800; padding: 10%; }
.fullscreen.about-section .container { width: 1180px; margin-left: auto; margin-right: auto; }
.fullscreen.about-section .about-text h3 { font-family: 'Playball_Regular', 'cursive', sans-serif; font-size: 40px; color: #fff; }
.fullscreen.about-section .about-text p { font-size: 16px; font-family: 'Lato_Regular', sans-serif; color: #fff; line-height: 1.81; width: 515px; }
.fullscreen.about-section .about-text p:last-child { margin-top: 40px; }
.fullscreen.about-section .about-img { position: relative; }
.fullscreen.about-section .about-img p { position: absolute; font-family: 'Lato_Bold', sans-serif; font-style: italic; font-size: 20px; text-align: center; width: 282px; color: #fff; left: 23%; bottom: 23%; }
.fullscreen.slider-section { position: relative; }
.fullscreen.slider-section .whoareyou { height: 100%; width: 100%; margin-bottom: 0; margin: 0; }
.fullscreen.slider-section .whoareyou div { height: 100%; }
.fullscreen.slider-section .whoareyou div img { margin: auto; margin-top: 13%; }
.fullscreen.slider-section .whoareyou div.thinker { background-color: #cfedfb; }
.fullscreen.slider-section .whoareyou div.helper { background-color: #d8d6ec; }
.fullscreen.slider-section .whoareyou div.organizer { background-color: #fdd9c9; }
.fullscreen.slider-section .whoareyou div.doer { background-color: #e4efc7; }
.fullscreen.slider-section .whoareyou div.persuader { background-color: #f9bec0; }
.fullscreen.slider-section .whoareyou div.creator { background-color: #fadbe9; }
.fullscreen.slider-section .whoareyou .slick-dots { bottom: 40px; }
.fullscreen.slider-section .whoareyou .slider-prev { background: transparent; position: absolute; top: 46%; z-index: 99; left: 15%; }
.fullscreen.slider-section .whoareyou .slider-next { right: 15%; background: transparent; position: absolute; top: 46%; }
.fullscreen.slider-section .whoareyou .slick-dots li button:before { color: #fff; font-size: 8px; width: 20px; height: 20px; opacity: 1; }
.fullscreen.slider-section .whoareyou .slick-dots li:nth-child(1).slick-active button:before { color: #44c8f4; opacity: 1; }
.fullscreen.slider-section .whoareyou .slick-dots li:nth-child(2).slick-active button:before { color: #5f247e; opacity: 1; }
.fullscreen.slider-section .whoareyou .slick-dots li:nth-child(3).slick-active button:before { color: #f7931e; opacity: 1; }
.fullscreen.slider-section .whoareyou .slick-dots li:nth-child(4).slick-active button:before { color: #00a54a; opacity: 1; }
.fullscreen.slider-section .whoareyou .slick-dots li:nth-child(5).slick-active button:before { color: #a70000; opacity: 1; }
.fullscreen.slider-section .whoareyou .slick-dots li:nth-child(6).slick-active button:before { color: #f06eaa; opacity: 1; }
.fullscreen.pageFooter { padding: 10%; width: 100%; height: 100%; background-color: #fab800; }
.fullscreen.pageFooter .container { width: 70%; margin-left: auto; margin-right: auto; }
.fullscreen.pageFooter h3 { color: #fff; font-family: 'Lato_Bold', sans-serif; font-size: 30px; margin: 0; }
.fullscreen.pageFooter p { color: #fff; font-family: 'Lato_Regular', sans-serif; font-size: 16px; margin: 0; margin-top: 8px; margin-bottom: 40px; }
.fullscreen.pageFooter p.descr { font-family: 'Lato_Regular', sans-serif; font-size: 20px; line-height: 1.3; width: 346px; }
.fullscreen.pageFooter input { padding: 16px 26px; height: 48px; border: none; }
.fullscreen.pageFooter .response.message.success { font-size: 14px; font-family: 'Lato_Regular', sans-serif; margin-bottom: 12px; width: 98%; margin-left: 1%; }
.fullscreen.pageFooter .footer-text a, .fullscreen.pageFooter .footer-text p { margin-top: 43px; margin-left: 0; margin-right: 0; color: #fff; font-size: 12px; line-height: 1.33; font-family: 'Lato_Regular', sans-serif; }
.fullscreen.pageFooter .footer-text a { text-decoration: none; }

.intro-section { overflow: hidden; width: 100%; height: 100%; background: linear-gradient(#ff7200 60%, #fff 30%); padding-top: 35px; }
.intro-section .container { width: 85%; margin-left: auto; margin-right: auto; height: auto; }
.intro-section .container .heading-logo { max-width: 136px; height: auto; }
.intro-section .container .margin-top-xlarge { margin-top: 7%; }
.intro-section .container .icon-margin { display: inline-block; margin-right: 5px; margin-left: 15px; vertical-align: bottom; }
.intro-section .container .icon-margin:nth-child(2) { margin-right: 25px; }
.intro-section .leadText { font-family: 'Lato_Bold', sans-serif; font-style: italic; font-size: 18px; color: #fff; line-height: 1.35; }
.intro-section .intro-text { margin-top: 59px; }
.intro-section .intro-text h3 { font-family: 'Lato_Bold', sans-serif; font-size: 32px; line-height: 1.19; width: 357px; color: #fff; }
.intro-section .intro-text p { font-family: 'Lato_Regular', sans-serif; font-size: 20px; color: #fff; line-height: 1.3; width: 515px; margin-bottom: 29px; }
.intro-section .launch-text { margin-top: 21%; font-family: 'Lato_Regular', sans-serif; }
.intro-section .launch-text h3 { color: #fff; font-family: 'Lato_Regular', sans-serif; font-size: 32px; margin-left: 9px; font-weight: 300; }
.intro-section .launch-text p { font-size: 20px; color: #fff; margin-left: 9px; }
.intro-section .launch-text input { border-color: transparent; border-radius: 4px; padding: 13px 26px; height: 48px; }
.intro-section td { text-align: left; color: #fff; font-size: 18px; font-family: 'Lato_Bold', sans-serif; line-height: 1.44; padding: 7px; border-bottom: solid 1px rgba(255, 255, 255, 0.3); }
.intro-section td:first-child { padding-left: 0; }

#personalityForm { width: 90%; margin: 0 auto; position: relative; }
#personalityForm fieldset { border: none; position: absolute; left: -84%; top: 15%; right: 0; width: 100%; height: 250px; padding: 10px 0; transition: all 0.3s linear; -webkit-transition: all 0.3s linear; -moz-transition: all 0.3s linear; -ms-transition: all 0.3s linear; opacity: 0; }
#personalityForm fieldset.current { left: 0%; opacity: 1; top: 15%; right: 0; }
#personalityForm fieldset.next { border: none; }
#personalityForm fieldset .fixedHeight { height: 110px; }
#personalityForm .questionTag { font-family: 'Lato_Bold', sans-serif; color: #fff; }
#personalityForm .requestButtons { margin-top: 8%; }
#personalityForm .requestButtons input { display: inline-block; width: auto; }
#personalityForm .requestButtons input.prev { margin-right: 36%; margin-left: 5%; }
#personalityForm .requestButtons input.next { margin-left: 35%; }
#personalityForm .controlButtons { margin-top: 27%; }

#formSlides { width: 1280px; margin-left: auto; margin-right: auto; }
#formSlides fieldset { border: none; position: absolute; left: -640px; width: 70%; top: 25%; height: 400px; padding: 10px 0; transition: all 0.3s linear; -webkit-transition: all 0.3s linear; -moz-transition: all 0.3s linear; -ms-transition: all 0.3s linear; opacity: 0; }
#formSlides fieldset.current { left: 15%; opacity: 1; top: 25%; right: 15%; }
#formSlides fieldset.next { border: none; }
#formSlides fieldset .fixedHeight { height: 300px; }
#formSlides h2 { margin-top: 5%; }
#formSlides #progressbar { margin: 0; position: absolute; margin-bottom: 30px; overflow: hidden; /*CSS counters to number the steps*/ counter-reset: step; }
#formSlides #progressbar li { list-style-type: none; color: white; text-transform: uppercase; font-size: 9px; width: 33.33%; float: left; position: relative; text-align: center; }
#formSlides #progressbar li:before { content: counter(step); counter-increment: step; width: 20px; line-height: 20px; display: block; font-size: 10px; color: #333; background: white; border-radius: 50%; margin: 0 auto 5px auto; }
#formSlides .summaryView442 { display: none; }
#formSlides .summaryView { position: absolute; width: 30%; left: 35%; bottom: 27%; }
#formSlides .summaryView .sumText { font-size: 16px; font-weight: bold; padding: 8px 12px; }
#formSlides .summaryView .sumText span { display: block; border: solid 2px #000; border-radius: 50%; height: 30px; width: 30px; margin-left: 11px; font-size: 14px; }
#formSlides .questionTag { font-family: 'Lato_Bold', sans-serif; font-size: 60px; color: #fff; line-height: 1.12; }
#formSlides .requestButtons { margin-top: 20%; }
#formSlides .requestButtons input { display: inline-block; width: auto; }
#formSlides .requestButtons input.prev { margin-right: 36%; margin-left: 5%; }
#formSlides .requestButtons input.next { margin-left: 35%; }
#formSlides .controlButtons { margin-top: 40%; }
#formSlides .counterView { position: absolute; left: 49%; bottom: 37.5%; width: 40px; text-align: center; border: solid 2px #fb7200; background: #fff; color: #fb7200; border-radius: 50%; height: 40px; }
#formSlides .counterView p.counterValue { margin-top: 6px; transition: all 0.3s linear; -webkit-transition: all 0.3s linear; -moz-transition: all 0.3s linear; -ms-transition: all 0.3s linear; }

.interestText { margin-bottom: 26px; font-size: 18px; font-family: 'Lato_Bold', sans-serif; line-height: 1.44; }

span.first { border: solid 2px #f06eaa; font-size: 20px; height: 44px; padding: 9px 35px; border-radius: 100px; line-height: 1.44; color: #f06eaa; transition: all .3s ease-in-out; }
span.first:hover, span.first.active { cursor: pointer; background-color: #f06eaa; color: #fff; }
span.second { border: solid 2px #00a54a; font-size: 20px; height: 44px; padding: 9px 35px; border-radius: 100px; color: #00a54a; transition: all .3s ease-in-out; }
span.second:hover, span.second.active { cursor: pointer; background-color: #00a54a; color: #fff; }
span.third { border: solid 2px #5f247e; font-size: 20px; height: 44px; padding: 9px 35px; color: #5f247e; border-radius: 100px; transition: all .3s ease-in-out; }
span.third:hover, span.third.active { cursor: pointer; background-color: #5f247e; color: #fff; }

.footer-section p { color: #838b91; font-size: 12px; font-family: 'Lato_Bold',sans-serif; }
.footer-section p span { font-family: 'Lato_Bold', sans-serif; color: #fc0d1b; }

.profile-section { width: 100%; padding-top: 35px; }
.profile-section .container { width: 85%; margin-left: auto; margin-right: auto; }
.profile-section .heading-logo { margin-top: -7px; }
.profile-section .tagline { color: #838b91; }
.profile-section .vertical-divider { border-right: 1px solid #838b91; }
.profile-section .icon-margin { display: inline-block; margin-right: 15px; vertical-align: middle; }

.enterprise-desc-list, .realistic-desc-list, .investigative-desc-list, .conventional-desc-list, .artistic-desc-list, .social-desc-list { display: inline-block; width: auto; margin-left: 31px; margin-right: 42px; list-style: none outside none; }
.enterprise-desc-list:nth-of-type(1), .realistic-desc-list:nth-of-type(1), .investigative-desc-list:nth-of-type(1), .conventional-desc-list:nth-of-type(1), .artistic-desc-list:nth-of-type(1), .social-desc-list:nth-of-type(1) { margin-left: 0; }
.enterprise-desc-list:nth-of-type(3), .realistic-desc-list:nth-of-type(3), .investigative-desc-list:nth-of-type(3), .conventional-desc-list:nth-of-type(3), .artistic-desc-list:nth-of-type(3), .social-desc-list:nth-of-type(3) { vertical-align: top; }
.enterprise-desc-list li, .realistic-desc-list li, .investigative-desc-list li, .conventional-desc-list li, .artistic-desc-list li, .social-desc-list li { color: #a70000; font-family: 'Lato_Regular', sans-serif; font-size: 20px; line-height: 1.95; }

.realistic-desc-list li { color: #00a54a; }

.investigative-desc-list li { color: #44c8f4; }

.conventional-desc-list li { color: #f7931e; }

.artistic-desc-list li { color: #f06eaa; }

.social-desc-list li { color: #5f247e; }

.personality-desc-alt { color: #011627; font-size: 40px; font-family: 'Lato_Regular', sans-serif; font-weight: 400; }

.personality-lead { font-family: 'Lato_Regular', sans-serif; font-size: 20px; }

.personality-title { font-family: 'Lato_Bold', sans-serif; font-size: 58px; margin-bottom: 49px; }

.personality-subtitle { color: #011627; font-family: 'Lato_Regular', sans-serif; font-size: 50px; font-weight: 400; }

.personality-desc { width: 80%; margin-top: 12px; font-family: 'Lato_Regular', sans-serif; font-size: 20px; line-height: 1.45; color: #6b7c93; }

.career-title { font-family: 'Lato_Regular', sans-serif; font-size: 40px; line-height: 1.43; width: 377px; color: #011627; font-weight: 500; }

.career-definition { font-family: 'Lato_Regular', sans-serif; line-height: 1.81; font-size: 16px; color: #6b7c93; margin-bottom: 69px; }

.career-sample-header { font-size: 20px; font-family: 'Lato_Regular', sans-serif; line-height: 1.5; color: #011627; }

.career-sample-list { font-size: 16px; font-family: 'Lato_Bold', sans-serif; line-height: 1.88; color: #6b7c93; }

.career-list-header { font-size: 40px; font-family: 'Lato_Regular', sans-serif; font-weight: 600; color: #011627; margin-bottom: 42px; }

.career-wrapper { border: solid 1px #9aafbf; border-radius: 9px; padding: 16px 14px; margin-bottom: 20px; padding-bottom: 9px; padding-top: 10px; }
.career-wrapper p { position: relative; display: inline-block; padding: 0; margin: 0; font-family: 'Lato_Regular', sans-serif; color: #011627; font-size: 16px; line-height: 1.56; vertical-align: middle; }
.career-wrapper i { position: relative; display: inline-block; vertical-align: middle; margin-left: 1em; }

.career-container { width: 1180px; margin: 0 auto; margin-bottom: 20%; }

.emoji-img { margin-top: 40%; }

.featureTitle { font-size: 40px; color: #011627; font-family: 'Lato_Regular', sans-serif; padding-left: 15px; padding-bottom: 17px; border-bottom: solid 1px rgba(153, 175, 192, 0.35); font-weight: 500; padding-top: 12px; }
.featureTitle a { text-decoration: none; display: block; transition: all 0.3s linear; }
.featureTitle a:hover { opacity: 0.7; color: #011627; }

.featureListing { list-style: none outside none; padding: 0; margin: 0; }
.featureListing li { font-size: 16px; color: #6b7c93; font-family: 'Lato_Regular', sans-serif; line-height: 1.31; padding-top: 10px; padding-left: 22px; padding-bottom: 10px; }
.featureListing li .listTitle { color: #011627; font-family: 'Lato_Bold', sans-serif; }

.collapse-box { padding-bottom: 5%; }

.introHello { font-family: 'Lato_Bold', sans-serif; color: #fff; font-size: 40px; margin-bottom: 5%; }

.introText { font-family: 'Lato_Regular', sans-serif; color: #fff; font-size: 20px; line-height: 1.56; margin-top: 8%; }

@media (max-width: 425px) { .intro-section { padding: 5%; }
  .intro-section .container { width: 100%; }
  .intro-section .container .margin-top-xlarge { margin-top: 5%; }
  .intro-section .container .row.gutters > .col:nth-child(2) { display: none; }
  .intro-section .container .logo-area { margin-top: 20%; text-align: center; }
  .intro-section .container .logo-area img { margin-left: auto; margin-right: auto; }
  .intro-section .intro-text { text-align: center; margin-top: 25%; }
  .intro-section .intro-text p { width: 100%; }
  .intro-section .intro-text h3 { width: 100%; }
  .sm-first { -webkit-box-ordinal-group: 0; -ms-flex-order: -1; order: -1; } }
@media (min-width: 426px) and (max-width: 768px) { .intro-section .container { width: 90%; }
  .intro-section .container .margin-top-xlarge { margin-top: 10%; } }
@media (min-width: 769px) and (max-width: 1024px) { .intro-section .container .margin-top-xlarge { margin-top: 10%; width: 34%; }
  .intro-section .intro-text h3 { width: 60%; }
  .intro-section .intro-text p { width: 100%; line-height: 1.5; font-size: 19px; margin-bottom: 50px; }
  .intro-section .launch-text { margin-top: 35%; } }
@media screen and (max-width: 962px), screen and (max-height: 442px) { .intro-section.welcome-bg { overflow: auto; background: linear-gradient(#ff7200 76%, #fff 30%); }
  .intro-section.welcome-bg .margin-top-large-xxx { margin-top: 3%; }
  .intro-section.summary-bg { background: linear-gradient(#ff7200 79%, #fff 30%); }
  .intro-section.summary-bg .margin-top-xlarge { margin-top: 0; }
  .intro-section.summary-bg .leadText { font-size: 14px; }
  .intro-section.summary-bg td { font-size: 12px; padding: 3px; }
  span.first, span.second, span.third { font-size: 16px; padding: 6px 35px; }
  .interestText { margin-top: 4%; margin-bottom: 13px; }
  .intro-section .container .margin-top-xlarge { width: 100%; }
  .margin-top-large-xxx { margin-top: 7%; }
  .introText { font-size: 16px; margin-top: 1%; }
  .introHello { font-size: 30px; margin-bottom: 3%; }
  #formSlides { width: 100%; margin-left: auto; margin-right: auto; }
  #formSlides .questionTag { font-size: 51px; }
  #formSlides .summaryView { display: block; width: 46%; left: 28%; bottom: 22%; }
  #formSlides .summaryView442 { display: none; }
  #formSlides .controlButtons { margin-top: 26%; }
  #formSlides fieldset { height: 200px; width: 90%; left: -72%; top: 15%; }
  #formSlides fieldset.current { left: 6%; opacity: 1; top: 15%; right: 15%; }
  #formSlides fieldset .fixedHeight { height: 227px; margin-top: -28px; }
  #formSlides .requestButtons { margin-top: 8%; } }
@media (min-width: 1028px) and (max-width: 1280px) { .intro-section { background: linear-gradient(#ff7200 65%, #fff 30%); }
  #formSlides fieldset .fixedHeight { height: 240px; }
  #formSlides .requestButtons { margin-top: 23%; }
  #formSlides .summaryView { position: absolute; width: 36%; left: 32%; bottom: 21%; }
  #formSlides .offset-4 { margin-left: 15.33333%; }
  #formSlides .controlButtons { margin-top: 37%; } }
@media (min-width: 1025px) and (max-width: 1440px) { .intro-section .container .margin-top-xlarge { margin-top: 7%; } }
